body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9FAFB;
    color: #333;
}

/* Navbar */
.navbar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.navbar-brand {
    font-weight: 700;
    color: black !important;
}

.oranye {
    color: #ff9900 !important;;
}

/* Button */
.btn-primary {
    background-color: #ff9900;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #e68a00;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 107, 107, 0.3);
}

/* Card */
.card {
    border: none;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Upload Area */
.upload-area {
    border: 2px dashed #ddd;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.upload-area:hover {
    border-color: #ff9900;
    background: #FFF5F5;
}